*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}
@keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
body{
    background-image: url(/images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 75%;
    height: 100vh;
    opacity: 0;
    animation: fadeInAnimation 0.8s ease-in forwards;
    
    
}
.logo{
    font-weight:bold;
    text-decoration: none;
    color: orange;
    display: flex;
    align-items: center;
    margin-left: 20px;
    transition: text-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}
.logo:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}
header{
    
   flex-direction: row;
    display: flex;
    background-color: black;
    height: 10vh;  
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}
header a{
    text-decoration: none;
    color: orange;

}
ul{
    display: flex;
    gap: 50px;
    margin-right: 20px;
    
}
ul a{
    display: flex;
    transition: text-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}
ul a:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}
.dropbtn {
    padding-right: 20px;
    color: orange;
   background-color: black;
    font-size: 1.2rem;
    border: none;
  }   
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown2 {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown2 a {
    color: white;
    padding: 20px 19px;
    text-decoration: none;
    display: block;
  }
  .dropdown2 a:hover {
    color: orange;
}
  
  .dropdown:hover .dropdown2 {
    display: block;
}
  

.imahe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
    flex-direction: column; 
    align-items: center;
     color: black;
}
.imahe img{
    display: flex;
    width: 20%;
    border-radius: 100%;
}
.imahe h1{
    font-size: 3.1rem;
    margin-top: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 900;
    color: rgb(241, 241, 241);
}
.link{
    margin-top: 20px;
    display: flex;
    gap: 40px;
}
.link a
{  
    
    color: white;
    border: 3px solid white;
    border-radius: 15px;
    padding: 0px 20px;
    text-decoration: underline transparent;
    transition: text-decoration 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}
.link a:hover{
    border: 3px solid black;
    background-color: black;
    color: orange;
    text-decoration: underline 2px;
    transform: scale(1.1);
}
